extends layout

block content
  div(style="padding-right: 300px")
    h1 Linux's Useradd:
    table
      tr
        td
          label username: 
        td 
          input#username(name="username")
      tr
        td 
          label password: 
        td 
          input#password(name="password", type="password",  value="123")
      tr
        td
        td(style="text-align: right")
          button#submit Submit
    p#error(style="color: red")

  .right-users
    h2 Registered: 
      span#length #{users.length}
      | / #{MAX_USERS}
    ul#users
      each val in users
        li #{val}


